attrs==20.3.0
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
Flask==1.1.2
hypothesis==5.43.3
idna==2.10
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.2
loguru==0.5.3
MarkupSafe==1.1.1
numpy==1.19.4
opencv-python==4.4.0.46
packaging==20.8
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.0
pyzmq==20.0.0
requests==2.25.0
sortedcontainers==2.3.0
toml==0.10.2
urllib3==1.26.2
uWSGI==2.0.19.1
Werkzeug==1.0.1
